.banner {
    margin: 0 auto;
    height: 620px;
    width: 100%;
    line-height: 620px;
    text-align: center;
}
.banner-pic {
     vertical-align: middle;
     margin-top: -45px;
}
.specificate {
    display: block;
    height: 570px;
    background-color: #131415;
    margin-bottom: 50px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-top: -30px;
    width: 1100px;
    margin-left: -20px;
}
.specificate-header {
    font-size: 49px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 1px
}
.specifications__item-name {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.specifications__item-pic {
    width: 70px;
    height: 70px;
    background: #f89513;
    text-align: center;
    display: inline-block;
    line-height: 85px;
    border-radius: 50%;
    margin-bottom: 35px;
}
.specifications{
    width: 200px;
    display: inline-block;
    padding: 0 35px 0 35px;
}
.specifications__item-text{
    margin-bottom: 10px;
}

ul.specifications__item-include {
    list-style-type: initial;
    text-align-last: left;
    margin-left: 20px;
}
.include-list {
    padding: 5px;
}
.specifications__item-pic:hover .spec-img{
    transform: scale(1.5);
    transition: transform .3s;
}

.mainp{
    margin-left: 0px;
}
hr.mainp {
    width: 828px;
}
.news_header {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 2px
}
.news-name {
    font-weight: bold;
}
.news__block{
    display: inline-block;
    width: 650px;
    font-weight: 300;
    vertical-align: top;
}

.news {
    width: 840px;
    float: left;
}
.topnews {
    width: 180px;
    float: right;
    margin-right: -20px;
}
.topnews__item {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
}
.overlay-news {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 245);
    opacity: 0.3;  
    z-index: 2;
    transition: opacity .3s;
}
.topnews__item:hover .overlay-news {
    opacity: 0;
    cursor: pointer;
}

.topnews_header {
    font-size: 12px;
    font-weight: bold;
    color: #221f1f;
}
.topnews-month {
    color: #656464;
    margin-bottom: 20px;
}
.main-pagination {
    margin-bottom: -45px;
}
